.detailContainer{
    display: flex;
    justify-content: center;
    align-items: centerq;
    background-color: rgb(10, 10, 10);
    background-size:contain;
    color: #eea114;
}

.loading{
    background-color: aqua;
    border-radius: 15px;
}
.detail{
    
    grid-template-columns: 50%;
    grid-template-rows: max-content;
    font-family: cursive;

}
h2,h3{
    
    justify-content:flex-end;
    
    margin: 0%;
}


.imgdetail{
    
     height: 350px;
    width:400px ;
}
.btndet {
    margin-top: 3vh;
    text-decoration: none;
    width: 8vw;
    height: 5vh;
    background-color: #324c36a8;
    color: #eea114;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.651);
    font-family: "Verdana", sans-serif;
    font-size: 0.98rem;
    text-align: center;
    cursor: pointer;
  }
  
  .btndet:hover {
    color: #324c36a8;
    background-color: rgba(240, 151, 68, 0.849);
  }