.pagin{
    display: flex;
    justify-content: center;
    list-style-type: none;
  
  }
  .number{
      background-color: whitesmoke;
      font-size: 20px;
      margin: 5px;
      padding: 5px;
      border-radius: 20px;
  }
  .number:hover {
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 251, 255, 0.363);
    box-shadow: -2px 0 0 5px rgba(12, 196, 206, 0.975);
  }