.landing{
    
    background-image: url("./image/home.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    text-shadow: 4px 3px 2px black;
    margin:0;
    font-size: 2rem;
    color:rgb(0, 255, 242);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    font-family:Georgia;

}
.titleland{
  color:rgb(255, 0, 0);
  text-shadow: whitesmoke;
}
.titleland:hover{
  color:aquamarine;
  text-shadow: 4px 4px 4px black;
}

.botton{
  background-color: rgba(2, 2, 2, 0.573);
  border-color: #069cedb5;
  color:aliceblue;
  text-shadow: 3px 3px 3px black;
  border-inline-end-style: groove;
  font-size: xx-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.botton:hover{
    color:rgb(255, 0, 0);
    border-color: beige;
    pointer-events:painted;
    text-shadow: 5px 5px 5px black;
}